{% extends 'base.html' %}

{% block header %}
<div align="center">
  <br>
  <h4 align="center" class="fs-4 fw-bold">Confirm {{ function }} for {{ machine }}</h4>
  <hr class="py-1"></hr>
</div>
{% endblock %}

{% block content %}
<div align="center">
  <a href="{{ url_for('startrunbook', machine=machine, function=function) }}">
    <button type="button" class="btn btn-danger btn-sm">Confirm</button>
  </a>
</div>

<div align="center">
  <hr class="py-1"></hr>
  <table style="width:100%">
  <tr>
      <td>
          <a href="{{ url_for('list') }}">
              <button type="button" class="btn btn-outline-dark btn-sm">Return to Machine List</button>
          </a>
      </td>
  </tr>
</table>
</div>
{% endblock %}